.avatar-in-tweet {
  width: 80px;
}
body{
  background-image: url('brickwall.png');
  margin: 0px;
  position: relative;
}
footer{
  background-color: #212529;
  text-align: center;
  font-weight: 300;
  padding: 20px;
  color: #eeeeee;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.content{
  padding-bottom: 81px;
}
nav, li{
  font-family: 'Kalam', cursive;
  font-size: 20px;
}
.texto{
  font-family: 'Kalam', cursive;
}
.border-size{
  border-style: solid;
  border-width: 5px;
  border-color: darkslategray;
}

